---
title: Registration Form
draft: false
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/reg_form.js"></script>
<form name="registration" method="POST" data-netlify="true" action="/registration_result">
   The details of your registration will be sent to you, including a unique registration number. Payment details will also be included in that email. Please use your registration number as a reference when paying.
   <ul>
      <li>Payment may be made in instalments. Full payment should be received by 30 September 2022.</li>
      <li>If your registration is cancelled earlier than 21 days before your date of arrival, your payment will be refunded in full except for a R50 admin fee.</li>
      <li>Cancellations later than 21 days before your date of arrival will not be refunded as the full expenses will already have been incurred for the registration.</li>
      <li>Accommodation bookings can be made directly with the hotel. See <a href="/accommodation">here</a>.</li>
      <li>PLEASE SUBMIT A SEPARATE REGISTRATION FORM FOR EACH ATTENDEE, WHETHER THEY ARE A LION, A PARTNER IN SERVICE OR A CHILD.</li>
   </ul>
   <h2>Delegate's Details</h2>
   <div class="form-group row">
      <div class="form-check">
         <input class="form-check-input" type="radio" name="delegate_type" id="lion" value="lion" checked>
         <label class="form-check-label" for="lion">
            Delegate is a Lion
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="delegate_type" id="pis" value="pis">
         <label class="form-check-label" for="pis">
            Delegate is a Partner in Service or child
         </label>
      </div>
   </div>
   <div class="form-group row">
      <label for="first_names" class="col-sm-4 col-form-label">
         First Name(s): 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="first_names" name="first_names" aria-describedby="first_names_help">
         <small id="first_names_help" class="form-text text-muted">
            Attendee's first name or names. Please use a real name rather than a nickname - nicknames can however be used for the name badge later in this form.
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="last_name" class="col-sm-4 col-form-label">
         Last Name: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="last_name" name="last_name">
      </div>
   </div>
   <div class="form-group row">
      <label for="name_badge" class="col-sm-4 col-form-label">
         Name Badge: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="name_badge" name="name_badge" aria-describedby="name_badge_help">
         <small id="name_badge_help" class="form-text text-muted">
            The name to appear on the attendee's name badge. eg Joe Bloggs; Lion John Doe; ZC Wendy Bloggs; PDG Jane Doe; Partner in Service Joe Bloggs
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="club" class="col-sm-4 col-form-label">
         Lions Club: 
      </label>
      <div class="col-sm-8">
         <select class="form-control" id="club" name="club" aria-describedby="club_help" required>
            <option value="">Please select a club</option>
            <option value="Alberton">Alberton</option>
            <option value="Amanzimtoti">Amanzimtoti</option>
            <option value="Azalea (Lioness)">Azalea (Lioness)</option>
            <option value="Ballito">Ballito</option>
            <option value="Bedfordview">Bedfordview</option>
            <option value="Bela Bela">Bela Bela</option>
            <option value="Benoni Benoryn">Benoni Benoryn</option>
            <option value="Benoni Host">Benoni Host</option>
            <option value="Benoni Lakes">Benoni Lakes</option>
            <option value="Benoni Van Rhyn">Benoni Van Rhyn</option>
            <option value="Berlin">Berlin</option>
            <option value="Bloemfontein">Bloemfontein</option>
            <option value="Boksburg">Boksburg</option>
            <option value="Bryanston Champions Cyper">Bryanston Champions Cyper</option>
            <option value="Butterworth">Butterworth</option>
            <option value="Centurion">Centurion</option>
            <option value="Centurion Lifestyle">Centurion Lifestyle</option>
            <option value="Cowies Hill">Cowies Hill</option>
            <option value="Durban Host">Durban Host</option>
            <option value="Durban South">Durban South</option>
            <option value="East Coast">East Coast</option>
            <option value="East London Beacon Bay">East London Beacon Bay</option>
            <option value="East London Port Rex">East London Port Rex</option>
            <option value="Edenvale">Edenvale</option>
            <option value="Edenvale (Lioness)">Edenvale (Lioness)</option>
            <option value="Estcourt">Estcourt</option>
            <option value="Fort Beaufort">Fort Beaufort</option>
            <option value="Germiston">Germiston</option>
            <option value="Gonubie">Gonubie</option>
            <option value="Helderkruin">Helderkruin</option>
            <option value="Henley On Klip">Henley On Klip</option>
            <option value="Hibberdene">Hibberdene</option>
            <option value="Hilton">Hilton</option>
            <option value="Howick-uMngeni">Howick-uMngeni</option>
            <option value="Kensington">Kensington</option>
            <option value="Kimberley">Kimberley</option>
            <option value="King William's Town">King William's Town</option>
            <option value="Kingsburgh">Kingsburgh</option>
            <option value="Klerksdorp">Klerksdorp</option>
            <option value="Knysna">Knysna</option>
            <option value="Komga">Komga</option>
            <option value="Kouga">Kouga</option>
            <option value="Krugersdorp">Krugersdorp</option>
            <option value="Ladysmith">Ladysmith</option>
            <option value="Letaba Tzaneen">Letaba Tzaneen</option>
            <option value="Mafikeng">Mafikeng</option>
            <option value="Manzini">Manzini</option>
            <option value="Midrand">Midrand</option>
            <option value="Nelspruit">Nelspruit</option>
            <option value="Newcastle">Newcastle</option>
            <option value="North Durban">North Durban</option>
            <option value="Northcliff">Northcliff</option>
            <option value="Phalaborwa">Phalaborwa</option>
            <option value="Pietersburg">Pietersburg</option>
            <option value="Port Alfred">Port Alfred</option>
            <option value="Port Elizabeth Cape Recife">Port Elizabeth Cape Recife</option>
            <option value="Port Elizabeth Host">Port Elizabeth Host</option>
            <option value="Port Elizabeth St Croix">Port Elizabeth St Croix</option>
            <option value="Port Shepstone">Port Shepstone</option>
            <option value="Potchefstroom">Potchefstroom</option>
            <option value="Pretoria City">Pretoria City</option>
            <option value="Pretoria Jakaranda">Pretoria Jakaranda</option>
            <option value="Pretoria South">Pretoria South</option>
            <option value="Ramsgate">Ramsgate</option>
            <option value="Reitz">Reitz</option>
            <option value="Roodepoort Clearwater Cyber">Roodepoort Clearwater Cyber</option>
            <option value="Roodepoort Host">Roodepoort Host</option>
            <option value="Rustenburg">Rustenburg</option>
            <option value="Scottburgh">Scottburgh</option>
            <option value="Shelly Beach">Shelly Beach</option>
            <option value="Standerton">Standerton</option>
            <option value="Stilfontein">Stilfontein</option>
            <option value="The Wilds">The Wilds</option>
            <option value="Uitenhage">Uitenhage</option>
            <option value="Vereeniging">Vereeniging</option>
            <option value="Vryheid">Vryheid</option>
            <option value="Weltevreden">Weltevreden</option>
            <option value="Wilro Park">Wilro Park</option>
            <option value="Other Club">Other Club</option>
         </select>
         <small id="club_help" class="form-text text-muted">
            For a Partner in Service or child, please select the Lions member's club
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="cell" class="col-sm-4 col-form-label">
         Cell Phone: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="cell" name="cell" aria-describedby="cell_help">
         <small id="cell_help" class="form-text text-muted">
            A cellphone number the attendee can be reached at if needed. This number may also be used for urgent SMSes for changes of plan during the convention.
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="email" class="col-sm-4 col-form-label">
         Email Address: 
      </label>
      <div class="col-sm-8">
         <input type="email"  class="form-control" id="email" name="email">
      </div>
   </div>
   <div class="form-group row">
      <label for="dietary" class="col-sm-4 col-form-label">
         Dietary Requirements: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="dietary" name="dietary" aria-describedby="dietary_help">
         <small id="dietary_help" class="form-text text-muted">
            Please be VERY clear with these requirements. eg halal, kosher, vegetarian, allergic to dairy
         </small>
      </div>
   </div>
   <div class="form-group row">
      <label for="disability" class="col-sm-4 col-form-label">
         Special Access Requirements: 
      </label>
      <div class="col-sm-8">
         <input type="text"  class="form-control" id="disability" name="disability" aria-describedby="disability_help">
         <small id="disability_help" class="form-text text-muted">
            Please indicate any requirements for wheel chair access or the like, if applicable
         </small>
      </div>
   </div>
   <hr>
   <h2>Total Cost</h2>
   <div class="form-group row">
      <label id=total_cost><h3>Total Cost: <ul><li>For Lions Members: R750</li><li>For Partners In Service and children: R575<ul><li>(Excludes the Saturday morning conference but does include lunch on Saturday)</li></ul></li></ul></h3></label>
   </div>
   <center>
      <button type="submit">Submit Registration Form</button>
   </center>
</form>